* {
  padding: 0;
  margin: 0;
}

.pointer {
  cursor: pointer;
  transition: all 0.2s;
}
.pointer:hover {
  border-right: 5px solid rgb(255, 212, 230);
}
.bg {
  border-right: 5px solid rgb(231, 50, 126) !important;
}
